.sidebar {
    background: linear-gradient(180deg, #000000 0%, rgba(15, 13, 15, 0.65) 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100vh;
    width: 18vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0;
}
.sidebar img {
    width: 13vw;
    height: 13vh;
}
.reset-btn {
    all: unset;
    width: 13vw;
    height: 9vh;
    background: #F0C551;
    border-radius: 2%;
    color:white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.reset-btn:hover {
    opacity: 0.8;
}